* { 
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}

.headerContainer {
    max-width: 900px;
    margin: 40px auto;
}
.headerContainer img {
    width:150px;
    height: 100px;
}

.container {
    display: flex;
    max-width: 900px;
    margin: auto;
    gap: 60px
}

.container .leftSide {
    flex: 1;
}

.container .leftSide h1 {
    margin: 0;
    font-size: 40px;
    color: #3A4B5C;
}
.container .leftSide p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #6A7D8B;
}

.container .leftSide input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgba(150, 163, 171, .5);
    padding: 10px 2px;
    font-size: 14px;
    outline: 0;
}
.container .leftSide input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
.container .leftSide button:hover {
    opacity: .7;
}
.container .rightSide {
    flex: 1;
    display: flex;
}

.container .rightSide .grid {
    flex: 1;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.container .rightSide .rightBig {
    flex: 1;
    display: flex;
}
.displayMobile {
    display: none;
}
.displayDesk {
    display: flex;
    flex-direction: column;
}

@media (max-width: 770px) {
    header {
        padding: 0 10px;
    }
    .headerContainer {
        margin: 20px auto;
    }
    .headerContainer img {
        width:120px;
        height: 80px;
    }
    .container {
        padding: 0 20px;
        gap: 10px;
        flex-direction: column;
    }

    .continer .leftSide {
        margin-right: 0;
    }
    .container .rightSide {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container .rightSide {
        margin-left: 0;
        margin-top: 20px;
        flex-direction: column;
    }
    .displayMobile {
        display: flex;
    }
    .displayDesk {
        display: none;
    }

}

@media (max-width: 321px) {
    .headerContainer {
        margin: 1px auto;
    }
    .container {
        gap: 5px
    }
    .container .leftSide h1 {
        font-size: 30px;
    }
    .container .leftSide p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .container .rightSide .grid {
        display: none;
    }
}